doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(content='telephone=no', name='format-detection')
    meta#viewport(name='viewport', content='width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0')
    title 我的订单
    link(href='http://tt.codezz.cn/html/e_sell/mobile/css/lib/base.css', type='text/css', rel='stylesheet')
    link(href='http://tt.codezz.cn/html/e_sell/mobile/css/pages/shopping_cart_info.css', type='text/css', rel='stylesheet')
    script(src='./zepto.js')
  body.B_shopping_cart
    header.card_wrap_shadow.card_wrap_mt
      .card_wrap_3.border_b.icon_arr_r
        span.order_form_icon1
        span.order_form_txt 我的订单
    h2.section_title 我的购物车
    each store in data
      each content,index in store
        section.shopping_cart_card(node-type="storeSection")
          .shopping_cart_card_title
            label.E_checkbox.select_icon
              input(type='checkbox' node-type="checkStore")
              span
            span.title_shop_name= content.storeName
            a(href='#' node-type="edit")
              span.title_function.E_fr 编辑
          each goods in content.goods
            section.shopping_cart_card_content(node-type="goodsSection",cost="#{goods.price}")
              .card_mix_1
                label.E_checkbox.select_icon
                  input(type='checkbox', node-type="checkGoods", cost="#{goods.price}")
                  span
                .shopping_cart_card_content_right
                  dl.table
                    dt.td
                      .pic(style='background:url(http://img.t.sinajs.cn/t4/appstyle/e_promotion_t6/mobile/images/temp/card_3.jpg)')
                    dd.td(node-type="showLayer")
                      p.E_f15.title.E_t_ellipsis= goods.name
                      p.E_f12.E_fc_grey2.desc.E_t_ellipsis(node-type="choiceDesc")= goods.choiceDesc
                      p.E_f12.E_fc_grey3.desc.E_t_ellipsis
                        | ￥
                        = goods.price
                        span.E_fr(node-type="amount") x
                          = goods.amount
                    dd.td(node-type="editLayer" style="display:none")
                      p
                        .num_box.space
                          a.commodity_num_cell.gray_font(node-type="less") -
                          input(type='number',cost="#{goods.price}", value="#{goods.amount}", name='amountInput#{gid}', id='amountInput#{gid}' node-type="amountInput")
                          a.commodity_num_cell(node-type="more") +
                      p
                        .num_box.select_box
                          span= goods.choiceDesc
                          .icon_arr_d
                    dd.td.action(node-type="del" style="display:none")
                      a(href='#')
                        span 删除
    .shopping_cart_card
      .shopping_cart_card_title
        label.E_checkbox.select_icon
          input(type='checkbox')
          span
        span.title_shop_name 小葡萄吃铺头不吐铺头的小店
        a(href='#')
          span.title_function.E_fr 完成
      .shopping_cart_card_content
        .card_mix_1
          label.E_checkbox.select_icon
            input(type='checkbox')
            span
          .shopping_cart_card_content_right
            dl.table
              dt.td
                .pic(style='background:url(http://img.t.sinajs.cn/t4/appstyle/e_promotion_t6/mobile/images/temp/card_3.jpg)')
              dd.td
                p
                  .num_box.space
                    a.commodity_num_cell.gray_font -
                    input(type='number', name='', id='')
                    a.commodity_num_cell +
                p
                  .num_box.select_box
                    span 颜色：苹果绿111
                    .icon_arr_d
              dd.td.action
                a(href='#')
                  span 删除
    .shopping_cart_card
      .shopping_cart_card_title
        label.E_checkbox.select_icon
          input(type='checkbox')
          span
        span.title_shop_name 陈奕迅所长的小店
        a(href='#')
          span.title_function.E_fr 编辑
      .shopping_cart_card_content
        .card_mix_1
          label.E_checkbox.select_icon
            input(type='checkbox')
            span
          .shopping_cart_card_content_right
            dl.table
              dt.td
                .pic(style='background:url(http://img.t.sinajs.cn/t4/appstyle/e_promotion_t6/mobile/images/temp/card_3.jpg)')
              dd.td
                p.E_f15.title.E_t_ellipsis VANS滑板鞋
                p.E_f12.E_fc_grey2.desc.E_t_ellipsis 黑色;41号
                p.E_f12.E_fc_grey3.desc.E_t_ellipsis
                  | ￥100 
                  span.E_fr x1
    .shopping_cart_account
      dl.table
        dt.account_select
          label.E_checkbox.select_icon
            input(type='checkbox')
            span
          span.E_f14 全选
        dd.account_expense
          p.E_f14
            | 合计：
            span.cost ￥
            span.cost(node-type='costNum') 1267.00
          p.E_f12 不含运费
          dd.account_clearing
            span.E_f14(node-type='count') 去结算(3)
script(src='./cart.js')